<div class="container" (newInvoiceClick)="onNewInvoiceClick()">
  <app-sidebar></app-sidebar>
  <app-sidenav-new-form [invoices]="invoices"></app-sidenav-new-form>

  <div class="invoicesWrapper">
    <div class="header">
      <div class="left">
        <h1>Invoices</h1>
        <p>There are {{ invoices.length }} total invoices.</p>
      </div>
      
      <div class="right">
        <app-filter-dropdown></app-filter-dropdown>
        <button class="newInvoice" (click)="onNewInvoiceClick()">
          <img src="/assets/images/icon-plus.svg" alt="plus icon" />
          <span>New Invoice</span>
        </button>
      </div>
    </div>
    
    <app-small-invoice-item
      *ngFor="let invoice of invoices"
      [invoice]="invoice"
    >

    </app-small-invoice-item>
    
    
  </div>

</div>