input {
  display: none;
}

.container {
  background-color: #DFE3FA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.container:hover {
  border: 1px solid black;
}

.selected {
  background-color: rgb(146, 119, 255);
}

img {
  display: none;
}

.selectedImg {
  display: block;
}