.sidenavWrapper {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

.openSidenavWrapper {
  display: block;
}

.sidenav {
  position: fixed;
  height: 100vh;
  width: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 40px;
  padding-left: 140px;

  display: flex;
  flex-direction: column;
}

.openSidenav {
  width: 80%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.formContainer {
  flex: 1;
  margin: 30px 0px;
  overflow-x: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.billHeader {
  font-weight: bold;
  color: #9277FF;
}

h1,
.billHeader {
  padding-left: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px 0;
  padding: 5px;
}

.inputWrapper input {
  border-radius: 4px;
  padding: 1rem 1.25rem;
  border: 1px solid rgb(223, 227, 250);
  width: 100%;
  height: 100%;
  font-family: Spartan;
  font-weight: bold;
  font-size: 12px;
}

.inputWrapper input::placeholder {
  opacity: 50%;
  font-family: Spartan;
  line-height: 1.125;
  letter-spacing: -0.25px;
}

input:focus {
  outline: 1px solid #9277FF;
  border: none;
}

.threeInputWrapper,
.twoInputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}

.twoInputWrapper {
  grid-template-columns: 1fr 1fr;
}

label {
  color: rgb(126, 136, 195);
}

button.addItem {
  width: 100%;
  border-radius: 30px;
  background-color: rgb(249, 250, 254);
  border: none;
  padding: 15px;
  color: rgb(126, 136, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 24px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(126, 136, 195);
  margin: 24px auto;
  line-height: 2rem;
  letter-spacing: -0.25px;
}

button.addItem:hover {
  background-color: #DFE3FA;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.actionButtons .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actionButtons button {
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.discard {
  background-color: rgb(249, 250, 254);
  color: rgb(126, 136, 195);
}

.discard:hover {
  background-color: rgb(223, 227, 250);
}

.draft {
  background-color: rgb(54, 59, 83);
  color: rgb(136, 142, 176);
}

.draft:hover {
  background-color: rgb(12, 14, 22);
}

.send {
  background-color: #9277FF;
  color: #FFFFFF;
}

.send:hover {
  background-color: rgb(126, 101, 226);
}