<div [ngClass]="{openSidenavWrapper: getOpen()}" class="sidenavWrapper" (click)="closeSidenav()">
  <div id="mySidenav" [ngClass]="{openSidenav: getOpen()}" class="sidenav" (click)="onEvent($event)">
    <h1>Create Invoice</h1>

    <form class="formContainer" (ngSubmit)="sendInvoice()">

      <div>

        <div class="billWrapper">
          <div class="billHeader">Bill From</div>
        
          <div class="inputWrapper">
            <label>Street Address</label>
            <input type="text" name="streetAddress" [ngModel]="senderAddress?.street" (ngModelChange)="senderAddress && senderAddress.street = $event">
          </div>

          <div class="threeInputWrapper">
            <div class="inputWrapper">
              <label>City</label>
              <input type="text" name="city" [ngModel]="senderAddress?.city" (ngModelChange)="senderAddress && senderAddress.city = $event">
            </div>
            
            <div class="inputWrapper">
              <label>Post Code</label>
              <input type="text" name="postCode" [ngModel]="senderAddress?.postCode" (ngModelChange)="senderAddress && senderAddress.postCode = $event">
            </div>

            <div class="inputWrapper">
              <label>Country</label>
              <input type="text" name="country" [ngModel]="senderAddress?.country" (ngModelChange)="senderAddress && senderAddress.country = $event">
            </div>
          </div>

          <div class="twoInputWrapper">

            <div class="inputWrapper">
              <label>Invoice Date</label>
              <input type="date" name="invoiceDate" [(ngModel)]="invoiceDate">
            </div>
            
            <div class="inputWrapper">
              <label>Payment Terms</label>
              <input type="text" name="paymentTerms" [(ngModel)]="paymentTerms">
            </div>
          </div>

          <div class="inputWrapper">
            <label>Description</label>
            <input type="text" name="description" [(ngModel)]="description" placeholder="e.g. Graphic Design Service">
          </div>
        </div>

        <div class="billWrapper">
          <div class="billHeader">Bill To</div>

          <div class="inputWrapper">
            <label>Client's Name</label>
            <input type="text" name="streetAddress" [(ngModel)]="clientName">
          </div>

          <div class="inputWrapper">
            <label>Client's Email</label>
            <input type="email" name="streetAddress" placeholder="e.g. email@example.com" [(ngModel)]="clientEmail">
          </div>
        
          <div class="inputWrapper">
            <label>Street Address</label>
            <input type="text" name="streetAddress" [ngModel]="clientAddress?.street" (ngModelChange)="clientAddress && clientAddress.street = $event">
          </div>

          <div class="threeInputWrapper">
            <div class="inputWrapper">
              <label>City</label>
              <input type="text" name="city" [ngModel]="clientAddress?.city" (ngModelChange)="clientAddress && clientAddress.city = $event">
            </div>
            
            <div class="inputWrapper">
              <label>Post Code</label>
              <input type="text" name="postCode" [ngModel]="clientAddress?.postCode" (ngModelChange)="clientAddress && clientAddress.postCode = $event">
            </div>

            <div class="inputWrapper">
              <label>Country</label>
              <input type="text" name="country" [ngModel]="clientAddress?.country" (ngModelChange)="clientAddress && clientAddress.country = $event">
            </div>
          </div>

          <div class="twoInputWrapper">

            <div class="inputWrapper">
              <label>Invoice Date</label>
              <input type="date" name="invoiceDate" [(ngModel)]="invoiceDate">
            </div>
            
            <div class="inputWrapper">
              <label>Payment Terms</label>
              <input type="text" name="paymentTerms" [(ngModel)]="paymentTerms">
            </div>
          </div>

          <div class="inputWrapper">
            <label>Description</label>
            <input type="text" name="description" [(ngModel)]="description" placeholder="e.g. Graphic Design Service">
          </div>
        </div>

        <h2>Item List</h2>

        <div *ngFor="let item of items" class="fourInputWrapper">
          <div class="inputWrapper">
            <label>Item Name</label>
            <input type="text">
          </div>

          <div class="inputWrapper">
            <label>Qty.</label>
            <input type="text">
          </div>

          <div class="inputWrapper">
            <label>Price</label>
            <input type="text">
          </div>

          <div class="inputWrapper">
            <label>Total</label>
            <input type="text">
          </div>
        </div>

        <button class="addItem" (click)="addNewItem()">
          <img src="/assets/images/icon-plus.svg" alt="" />
          <span>Add New Item</span>
        </button>

        

      </div>
    </form>

    <div class="actionButtons">
      <div>
        <button class="discard" (click)="closeSidenav()">Discard</button>
      </div>
      
      <div class="right">
        <button class="draft">Save as Draft</button>
        <button class="send" (click)="sendInvoice()">Save & Send</button>
      </div>
    </div>
  </div>
</div>