<div class="dropdown">
  <button (click)="toggleDropdown()">
    <span>Filter <span class="byStatus">by status</span></span>
    <img src="/assets/images/icon-arrow-down.svg" alt="arrow" />
  </button>
  <div *ngIf="open" class="dropdown-content">
    <div *ngFor="let filterOption of getFilterKeys()" class="option" name="filterOption">
      <app-checkbox [filterOption]="filterOption" (editFiltersClick)="editFilters($event)"></app-checkbox>
      <label>{{ filterOption }}</label>
    </div>
  </div>
</div>