<div class="dropdown">
  <button (click)="toggleDropdown()">
    Filter by status
    <img src="/assets/images/icon-arrow-down.svg" alt="arrow" />
  </button>
  <div *ngIf="open" class="dropdown-content">
    <div class="option" name="Paid">
      <app-checkbox></app-checkbox>
      <label>Paid</label>
    </div>

    <div class="option" name="Pending">
      <app-checkbox></app-checkbox>
      <label>Pending</label>
    </div>

    <div class="option" name="Draft">
      <app-checkbox></app-checkbox>
      <label>Draft</label>
    </div>

  </div>
</div>