<div class="dropdown">
  <button>
    Filter by status
    <img src="/assets/images/icon-arrow-down.svg" alt="arrow" />
  </button>
  <div class="dropdown-content">
    <div class="option">
      <input type="checkbox" id="Paid" name="Paid"
         checked>
      <label for="Paid">Paid</label>
    </div>

    <div class="option">
      <input type="checkbox" id="Paid" name="Paid"
         checked>
      <label for="Paid">Paid</label>
    </div>

    <div class="option">
      <input type="checkbox" id="Paid" name="Paid"
         checked>
      <label for="Paid">Paid</label>
    </div>

  </div>
</div>