.container {
  width: 100px;
  height: 100vh;
  position: fixed;
  background-color: #373B53;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #9277FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.logoWrapper img {
  width: 40px;
  height: 37px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.wrapper img {
  width: 32px;
  height: 32px;
}

.avatar {
  border-top: 1px solid gray;
}

@media only screen and (max-width: 768px) {
  .container {
    position: fixed;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    max-width: 100%;
    border-radius: 0px;
  }

  .end {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    height: 80px;
  }
}

@media only screen and (max-width: 540px) {

  .logoWrapper img,
  .wrapper img,
  .avatar img {
    height: 30px;
    width: 30px;
  }
}